#container {
    background: #fafafa;
}

.page-title {
    color: #000;
    margin-top: 30px;
    
}

.content {
    color: #000;
    width: 100%;
    margin-bottom: 30px;
}

.addToCartBtn {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}
.addToCartBtn:hover{
    background: #fbbc05;
  }

.page-sub-title {
    font-family: "Montserrat";
    font-weight: bolder;
}